.calculator
{
  overflow: hidden;
  position: relative;
  max-width: 600px;
  height: 100px;
  margin: auto;
  background-color: green;
}
.currencyIn, .currency
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 400%;
}
.currencyInCon
{
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  left:0;
  background-color: red;
}
.currencyInCon2
{
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  left: 30%;
  background-color: red;
}
.currencyOut
{
  font-size: 300%;
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right:0;
  background-color: red;
}
